@color-lightBlueGray: #32425c;
@color-darkBlueGray: (@color-lightBlueGray - #090e13);
@color-deepDarkBlueGray:(@color-lightBlueGray - #111822);
@color-lightRed: #ee3643;
@color-darkRed: (@color-lightRed - #390d10);
@color-greenButton: #5fbb2d;
@color-textYello: #ffd180;
@color-textWhite: #ffff;
@color-backgroundBeige: #f9f5f0;

@color-headerBackgroundLightBlue: #f3f7f9;

@color-mainBackgroundWhite: #ffffff;

@color-serviceBackgroundLightBlue: #f4f8f9;

@color-navSectionBackgroundDarkYellow: #ffbf47;
@color-navSectionBackgroundYellow: #ffc047;
@color-navSectionBackgroundBlue: #3bbce3;
@color-navSectionBackgroundViolet: #dc91d8;
@color-navSectionBackgroundGreen: #8ed78f;

@color-itemCardBorder: #eaeaea;

.variable-width-goodsService() {
  min-width: 300px;                  /*!!!!!!*/
  width: auto;
} 

.variable-width-basic() {
  width: 940px;
  margin: auto;
}

.variable-visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: @color-lightRed;
}

.visually-hidden {
  .variable-visually-hidden;
}


header {
  display: flex; 
  flex-direction: column;
  background-color: @color-headerBackgroundLightBlue;
  position: relative;
  color: @color-textWhite;
  min-height: 320px;
}

.wrapper-header-up {
  background-color: @color-darkBlueGray;
  min-height: 42px;
}

.header-up {
 .variable-width-basic;
}

.technomart-link {
  background-color: @color-lightRed;
  width: 220px;
  position: relative;
  height: 42px;
}

.technomart-link::after {
  background-color: @color-darkRed;
  position: absolute;
  content: "";
  display: block;
  bottom: -5px;
  width: 100%;
  height: 5px;
}

.input-search {
  background-color: inherit;
  outline: none;
  border: none
}

.button-create-order {
  background-color: @color-greenButton;
  color: @color-textWhite;
}

.header-down {
  .variable-width-basic;
  min-height: 56px;
  padding-bottom: 60px;
}

.wrapper-header-tel {
  border: 3px solid @color-textWhite;
  color: @color-lightRed;
}

.input-tel {
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;
}

.header-nav {
  position: relative;
  background-color: @color-lightBlueGray;
  margin: 0px;
  padding: 0px;
}

.header-nav::after {
  background-color: @color-darkBlueGray;
  position: absolute;
  content: "";
  display: block;
  bottom: -5px;
  width: 100%;
  height: 5px;
}


main {
  background-color: @color-mainBackgroundWhite;
  .variable-width-basic;
}

.wrapper-nav-goods-and-service {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  min-width: 942px;
  min-height: 410px;
  .variable-width-basic;
  padding-top: 59px;
  padding-bottom: 53px;
}

.wrapper-button-goods-and-service-up {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-button-goods-and-service-down {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-button-goods-and-service-right {
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  margin-left: 21px;
  justify-content: space-between;
}

.slider {
  width: 620px;
  height: 266px;
  background-image: url('./img/slider/slider_perforator.jpg');
  background-color: #adabaa;
}

.button-right,
.button-left,
.pop-up-map {
  border: medium none;
  background: transparent;
  background-color: transparent;
}

.button-materials {
  background-color: @color-navSectionBackgroundDarkYellow;
  .variable-width-goodsService;
  flex-grow: 1;
}

.button-instuments {
  background-color: @color-navSectionBackgroundBlue;
  margin: 0px 21px;
  .variable-width-goodsService;
  flex-grow: 1;
}

.button-technics {
  background-color: @color-navSectionBackgroundViolet;
  .variable-width-goodsService;
  flex-grow: 1;
}

.button-discounts {
  background-color: @color-navSectionBackgroundGreen;
  .variable-width-goodsService;
  max-height: 123px;
}

.button-delivery {
  background-color: @color-navSectionBackgroundYellow;
  .variable-width-goodsService;
  max-height: 123px;
}

.wrapper-popular-goods,
.wrapper-popular-brands {
  .variable-width-basic;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  min-height: 420px;
}

.wrapper-popular-goods {
  min-height: 428px;
}

.wrapper-popular-brands {
  margin-top: 21px;
}

.popular-goods,
.popular-brands {
  background-color: @color-backgroundBeige;
  height: 89px;
}

.card {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.card-item {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 320px;
}

.card-item,
.brand {
  border: 1px solid @color-itemCardBorder;
  padding: auto;
}

.brand {
  height: 145px;
  width: 220px;
}

.service {
  background-color: @color-serviceBackgroundLightBlue;
  .variable-width-basic;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.service-down {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.buttons-service {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.service-delivery {
  background-image: url('./img/background/background_delivery.jpg');
  background-color: inherit;
}

.service-guarantee {
  background-image: url('./img/background/background_guarantee.jpg');
  background-color: inherit;
}

.service-credit {
  background-image: url('./img/background/background_loan.jpg');
  background-color: inherit;
}

.service-guarantee,
.service-credit {
  .variable-visually-hidden;
}

.company-contacts {
  .variable-width-basic;
}


footer {
  background-color: @color-lightBlueGray;
  color: @color-textWhite;
}

.footer-up {
  .variable-width-basic;
}

.wrapper-footer-down {
  background-color: @color-darkBlueGray;
}

.footer-down {
  .variable-width-basic;
}

.social-network {
  background-color: @color-deepDarkBlueGray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}





.test {
  width: 830px;
  height: 322px;
  // background-color: #ffbf47;
  color: white
}

.test img:hover {
  filter: hue-rotate(66deg) brightness(0.3);
}
