@color-darkBlueGray: #293449;
@color-lightBlueGray: #32425c;
@color-lightRed: #ee3643;
@color-darkRed: #b52933;
@color-textYello: #ffd180;
@color-textWhite: #ffff;
@color-backgroundBeige: #f9f5f0;


.header {
    background-color: @color-lightBlueGray;
    position: relative;
    color: black;
}

.headerBackground {
    background-color: #f3f7f8;
}

.headerNav {
    background-color: @color-lightBlueGray;
}
.footerLight {
    background-color: @color-lightBlueGray;
}
.footerDark {
    background-color: @color-darkBlueGray;
}
ul {
    list-style-type: none
}

a { 
   text-decoration: none;
   color: black;
} 