@color-lightBlueGray: #32425c;/*hsl(276, 75%, 21%);*/
@color-darkBlueGray: (@color-lightBlueGray - #090e13);
@color-deepDarkBlueGray:(@color-lightBlueGray - #111822);
@color-linkTechnomart: #ee3643;
@color-linkTechnomartHover: #ca2c37;
@color-linkTechnomartActive: #ba2732;
@color-linkTechnomartAfter: (@color-linkTechnomart - #390d10);
@color-linkTechnomartAfterHover: (@color-linkTechnomartHover - #390d10);
@color-linkTechnomartAfterActive: (@color-linkTechnomartActive - #390d10);
@color-buttonCreateOrder: #63a63e;
@color-buttonCreateOrderHover: #5fbb2d;
@color-buttonCreateOrderActive: #518534;
@color-buttonBuyAfter: #367315;
@color-textYello: #ffd180;
@color-textWhite: #ffff;
@color-textGray: @color-textWhite 70%;
@color-backgroundBeige: #f9f5f0;

@color-headerBackgroundLightBlue: #f3f7f9;

@color-mainBackgroundWhite: #ffffff;

@color-serviceBackgroundLightBlue: #f4f8f9;

@color-navSectionBackgroundDarkYellow: #ffbf47;
@color-navSectionBackgroundYellow: #ffc047;
@color-navSectionBackgroundBlue: #3bbce3;
@color-navSectionBackgroundViolet: #dc91d8;
@color-navSectionBackgroundGreen: #8ed78f;

@color-itemCardBorder: #eaeaea;

.variable-width-basic() {
  min-width: 830px;
  max-width: 940px;
  margin: auto;
  /*min-width: 940px;
  margin: 0 auto;*/
}

.variable-visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.variable-style-flex-row-space-between() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.variable-style-flex-row-start() {
  display: flex; 
  flex-direction: row;
  justify-content: start;
}

.variable-style-flex-column-space-between() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.variable-header-button-login-registration() {
  border: medium none;
  background: transparent;
  background-color: @color-textWhite;
  font: 21px cuprum;
  color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: @color-linkTechnomart;
  font: italic 100% cuprum;
  margin: 0;
}

h2 {
  color: @color-lightBlueGray;
  font: 30px cuprum;
  line-height: 40px;
}

.visually-hidden {
  .variable-visually-hidden;
}


header {
  .variable-style-flex-column-space-between;
  background-color: @color-headerBackgroundLightBlue;
  color: @color-textWhite;
  margin: 0;
  padding-bottom: 64px;
  min-width: 940px;
}

.wrapper-header-up {
  background-color: @color-darkBlueGray;
}

.header-up {
 .variable-width-basic;
 .variable-style-flex-row-space-between;
 font: 17px cuprum;
}

.technomart-link a {
  position: relative;
  font: 24px cuprum;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: @color-linkTechnomart;
  @color-linkTechnomartAfter: (@color-linkTechnomart - #390d10);
}

.technomart-link a:hover {
  background-color: @color-linkTechnomartHover;
}

.technomart-link a:active {
  background-color: @color-linkTechnomartActive;
}

.technomart-link a::after {
  background-color:  @color-linkTechnomartAfter;
  position: absolute;
  content: "";
  display: block;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 5px;
}

.technomart-link a:hover::after {
  background-color:  @color-linkTechnomartAfterHover;
}

.technomart-link a:active::after {
  background-color:  @color-linkTechnomartAfterActive;
}

.header-search {
  .variable-style-flex-row-start;
  padding-left: 17px;
  padding-right: 86px;
}

.header-search-img {
  padding-right: 14px;
}

.input-search {
  background-color: inherit;
  outline: none;
  border: none;
  color: @color-textWhite;
  height: 100%;
  padding-left: 39px;
  width: 206px;
}

.header-up-element-input {
  position: relative;
} 

.header-up-element-input:hover,
.header-up-element-bookmarks:hover,
.header-up-element-cart:hover {
  background-color: rgba(0, 0, 0, 0.1);
 }

.header-up-element-bookmarks:active,
.header-up-element-cart:active {
  background-color: #161d29;
  opacity: 50%;
}

.input-search::placeholder {
  color: @color-textWhite;
}
.input-search:focus {
  background-color: @color-textWhite;
  color: black;
}

.input-search:focus::placeholder {
  color: black;
}

.header-up-element-input:before {
  position: absolute;
  content: url("./img/icon/icon_search.png");
  left: 7px;
  top: 12px;
  opacity: 30%;
 }

 .header-up-element-input:focus::before {
  position: absolute;
  content: url("./img/icon/icon_search_red.png");
  left: 7px;
  top: 12px;
}

 .header-up-element-bookmarks {
  position: relative;
  padding-left: 45px;
  padding-right: 17px;
 }

 .header-up-element-bookmarks:before {
  position: absolute;
  content: url("./img/icon/icon_bookmark.png");
  left: 18px;
  top: 12px;
  opacity: 30%;
 }

 .header-up-element-cart {
  padding-left: 51px;
  padding-right: 24px;
  position: relative;
 }

 .header-up-element-cart:before {
  position: absolute;
  content: url("./img/icon/icon_cart.png");
  left: 21px;
  top: 12px;
  opacity: 30%;
 }

 .header-up-element-input:hover:before,
 .header-up-element-bookmarks:hover:before,
 .header-up-element-cart:hover:before {
  opacity: 100%;
 }

.button-create-order a {
  font: 17px cuprum;
  padding: 11px 23px 11px 19px;
  color: #ffff;
  background-color: @color-buttonCreateOrder;
  white-space: nowrap;
}

.button-create-order a:hover {
  background-color: @color-buttonCreateOrderHover;
}

.button-create-order a:active {
  background-color: @color-buttonCreateOrderActive;
  opacity: 80%;
}

.wrapper-header-middle {
  .variable-style-flex-row-space-between;
  padding-top: 46px;
  padding-bottom: 43px;
  padding-left: 55px;
  margin: auto;
}

.header-title {
  margin: 0;
  line-height: 147%;
}

.header-middle-element-tel {
  .variable-style-flex-column-space-between;
  text-align: center;
}

.header-middle-element-tel a {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: 3px solid @color-textWhite;
  color: @color-linkTechnomart;
  background-image: url('./img/icon/icon_phone.png');
  background-repeat: no-repeat;
  background-position: 15px;
  font: 21px cuprum;
}

.header-adress {
  color: @color-lightBlueGray;
  font: 14px cuprum;
  text-align: center;
  margin: 0;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.header-middle-element-left {
  margin-right: 66px;
}

.header-middle-element-right {
  .variable-style-flex-row-space-between;
  padding-bottom: 24px;
  margin-left: 73px;
}

.button-login {
  .variable-header-button-login-registration;
  display: inline-flex;
  padding-left: 14px;
  padding-right: 27px;
}

.button-login-img {
  padding-top: 3px;
  padding-right: 7px;
}

.button-registration {
  .variable-header-button-login-registration;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  justify-content: center;
}

.header-nav-down {
  position: relative;
  width: 940px;
  margin: auto;
  background-color: @color-lightBlueGray;
}

.header-nav-down::after {
  background-color: @color-darkBlueGray;
  position: absolute;
  content: "";
  display: block;
  bottom: -5px;
  width: 100%;
  height: 5px;
}

.header-nav-down :last-child {
  padding-right: 24px;
}

.header-nav-down :first-child {
  padding-left: 22px;
}

.link-header-nav {
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.link-header-nav a {
  flex-grow: inherit;
  font: 17px cuprum;
  padding: 18px 0 18px 0;
  color: @color-textWhite;
}

.link-header-nav a:hover {
  background-color: @color-darkBlueGray;
}

.link-header-nav a:active {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 80%;
}

main {
  background-color: @color-mainBackgroundWhite;
  /*.variable-width-basic;*/
}

.wrapper-nav-goods-and-service {
  .variable-width-basic;
  .variable-style-flex-column-space-between;
  padding-top: 59px;
  padding-bottom: 32px;
  color: @color-textWhite;
}

.wrapper-button-goods-and-service-up {
  .variable-style-flex-row-space-between;
}

.wrapper-button-goods-and-service-down {
  .variable-style-flex-row-space-between;
  margin-top: 20px;
}

.wrapper-button-goods-and-service-right {
  .variable-style-flex-column-space-between; 
  /*flex-grow: 1;*/
}

.slider {
  .variable-style-flex-column-space-between;
  min-width: 536px;
  background-image: url('./img/slider/slider_perforator.jpg');
  background-color: #adabaa;
  flex-grow: 1;
  margin-right: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 21px;
  padding-bottom: 31px;
  font: 18px PT sans;
}

.button-right,
.button-left,
.button-pop-up-map {
  border: medium none;
  background: transparent;
  background-color: transparent;
  outline: none;
}

.button-right,
.button-left {
  margin-left: -5px;
  margin-right: -5px;
}

.slider span {
  font: bold 36px cuprum;

}

.slider a {
  text-align: center;
  border-radius: 3px;
  font: 14px cuprum;
  padding: 10px 49px;
  color: @color-textWhite;
  background-color: @color-linkTechnomart;
}

.slider a:hover {
  background-color: @color-linkTechnomartHover;
}

.slider a:active{
  background-color: @color-linkTechnomartActive;
}

.slider-button {
  .variable-style-flex-row-space-between;
  margin-top: -26px;
}

.button-arround-slider {
  white-space: nowrap;
  width: 135px;
  margin-top: 12px;
  margin-right: 5px;
  padding-top: 13px;
  padding-bottom: 10px;
  text-align: center;
  font: 14px cuprum;
  border-radius: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: @color-textWhite;
  outline: none;
}

.new {
  position: absolute;
  background: @color-linkTechnomart;
  color: @color-textWhite;
  padding: 5px 39px;
  top: 7px;
  right: -32px;
  transform: rotate(45deg);

}

.button-arround-slider:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-arround-slider:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper-button-arround-slider-img {
  display:flex;
  align-items: center;
}

.button-arround-slider-text-and-button {
  .variable-style-flex-column-space-between;
}

.wrapper-nav-goods-and-service h3 {
  font: bold 24px cuprum;
  margin: 0;
}

.button-materials,
.button-instuments,
.button-technics,
.button-discounts,
.button-delivery {
  .variable-style-flex-column-space-between;
  overflow: hidden;
  position: relative;
  padding-left: 25px;
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 19px;
  background-repeat: no-repeat;
  background-position: 95%;
}

.button-materials {
  background-color: @color-navSectionBackgroundDarkYellow;
  background-image: url('./img/logo/logo_materials.png');
  flex-grow: 1;
}

.button-instuments {
  background-color: @color-navSectionBackgroundBlue;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./img/logo/logo_instruments.png');
  flex-grow: 1;
}

.button-technics {
  background-color: @color-navSectionBackgroundViolet;
  background-image: url('./img/logo/logo_technics.png');
}

.button-discounts {
  background-color: @color-navSectionBackgroundGreen;
  background-image: url('./img/logo/logo_discounts.png');
  /*max-height: 123px;*/
}

.button-delivery {
  background-color: @color-navSectionBackgroundYellow;
  background-image: url('./img/logo/logo_delivery.png');
  /*max-height: 123px;*/
  margin-top: 20px;
}

.wrapper-popular-goods,
  .wrapper-popular-brands {
  .variable-width-basic;
  .variable-style-flex-column-space-between;
  margin-top: 21px;
}

.wrapper-popular-brands {
  margin-bottom: 85px;
}

.popular-goods,
.popular-brands {
  .variable-style-flex-row-space-between;
  background-color: @color-backgroundBeige;
  padding-left: 30px;
  padding-right: 24px;
}

.popular-goods h3 {
  color: black;
  font: bold 18px PT Sans;
}

.popular-goods a,
.popular-brands a{
  text-align: center;
  border-radius: 3px;
  min-width: 253px;
  font: 14px cuprum;
  margin-top: 27px;
  margin-bottom: 24px;
  padding-top: 11px;
  color: @color-textWhite;
  background-color: @color-linkTechnomart;
}

.popular-goods a:hover,
.popular-brands a:hover{
  background-color: @color-linkTechnomartHover;
}

.popular-goods a:active,
.popular-brands a:active{
  background-color: @color-linkTechnomartActive;
}

.card {
  .variable-style-flex-row-space-between;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 45px;
  padding-bottom: 20px;
  height: 320px;
}

.card-item:nth-child(1) {
  background-image: url('./img/goods/goods_Bosch BFG 9000.jpg');
}

.card-item:nth-child(2) {
  background-image: url('./img/goods/goods_Bosch BFG 3000.jpg');
}
.card-item:nth-child(3) {
  background-image: url('./img/goods/goods_Bosch BFG 6000.jpg');
}
.card-item:nth-child(4) {
  background-image: url('./img/goods/goods_Bosch BFG 2000.jpg');
}

.card-item:hover {
  box-shadow: 0px 7px 13px 5px #a9adb5;
  background-image: none;
}

.card-item h3 {
  font: bold 18px PT Sans;
  line-height: 20px;
}

.wrapper-card-item-buttons {
  .variable-style-flex-column-space-between;
  font: 14px Cuprum;
  position: absolute;
  top: 45px;
}

.button-card-item-buy,
.button-card-item-addtobookmarks {
  border-radius: 3px;
  outline: none;
  
}

.button-card-item-buy {
  position: relative;
  padding-top: 10px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-width: 0 0 3px 0;
  background-color: @color-buttonCreateOrder;
  border-color: transparent transparent @color-buttonCreateOrder transparent;
  color: @color-textWhite;
}

.button-card-item-buy::before {
  position: absolute;
  content: url("./img/icon/icon_cart.png");
  left: 9px;
  opacity: 30%;
}

.button-card-item-buy:hover {
  background-color: @color-buttonCreateOrderHover;
}

.button-card-item-buy:hover::before {
  opacity: 100%;
}

.button-card-item-buy:active {
  background-color: @color-buttonCreateOrderActive;
  padding-bottom: 10px;
  border: none;
}

.button-card-item-addtobookmarks {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 34px;
  padding-right: 30px;
  border: solid 3px @color-buttonCreateOrder;
  background-color: inherit;
  color: @color-lightBlueGray;
}

.button-card-item-addtobookmarks:hover {
  border: solid 3px @color-lightBlueGray;
}

.button-card-item-addtobookmarks:active {
  opacity: 70%;
}

.new-price {
  background-color: @color-linkTechnomart;
  color: @color-textWhite;
  border-radius: 3px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  /*transform-origin: 50% 100% 0;
  transform: rotate(270deg);*/
}
.new-price::before,
.new-price::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 27px;
}

.card-item,
.brand {
  border: 1px solid @color-itemCardBorder;
  width: 23%;
  margin-top: 21px;
}

.brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.brand:hover {
  box-shadow: 0px 7px 13px 5px #a9adb5;
}

.brand:active {
  box-shadow: 0px 5px 7px 1px;
  opacity: 37%;
}

.brand a {
  width: 100%;
  min-height: 145px;
}

.brand:nth-child(1) {
  background-image: url('./img/brands/brands_Bosch.png');
}

.brand:nth-child(2) {
  background-image: url('./img/brands/brands_Makita.png');
}

.brand:nth-child(3) {
  background-image: url('./img/brands/brands_DeWalt.png');
}

.brand:nth-child(4) {
  background-image: url('./img/brands/brands_Interscol.png');
}


.brand:nth-child(5) {
  background-image: url('./img/brands/brands_Hitachi.png');
}


.brand:nth-child(6) {
  background-image: url('./img/brands/brands_LG.png');
}


.brand:nth-child(7) {
  background-image: url('./img/brands/brands_AEG.png');
}


.brand:nth-child(8) {
  background-image: url('./img/brands/brands_Metabo.png');
}


.service {
  background-color: @color-serviceBackgroundLightBlue;
  .variable-style-flex-column-space-between;
  margin-bottom: 50px;
}

.service-up {
  /*.variable-style-flex-row-space-between;*/
  .variable-width-basic;
  padding-top: 64px;
}
.service-up span {
  font: bold 28px Cuprum;
}
  
.service-up p {
  font: 15px Cuprum;
  line-height: 25px;
  margin-top: 25px;
  
}

.service-down {
  .variable-style-flex-row-space-between;
  .variable-width-basic;
}

.service-down p {
  font: 15px Cuprum;
  line-height: 25px;
  margin-top: 25px;
}

.service-down h3 {
  color: @color-lightBlueGray;
  font: bold 35px cuprum;
}

.buttons-service {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.button-service-guarantee,
.button-service-delivery,
.button-service-credit {
  border: medium none;
  font: bold 21px cuprum;
}


.service-delivery {
  flex-grow: 1;
  background-image: url('./img/background/background_delivery.jpg');
  background-position: center;
  background-color: inherit;
}

.service-guarantee {
  background-image: url('./img/background/background_guarantee.jpg');
  background-color: inherit;
}

.service-credit {
  background-image: url('./img/background/background_loan.jpg');
  background-color: inherit;
}

.service-guarantee,
.service-credit {
  .variable-visually-hidden;
}

.company-contacts {
  .variable-width-basic;
  .variable-style-flex-row-space-between;
}

.company-contacts h3 {
  font: bold 28px Cuprum;
}

.paragraph {
  padding-bottom: 26px;
  font: 13px/24px PT Sans;
}

.delivery-company {
  position: relative;
  font: 20px Cuprum;
  padding-left: 36px;
  line-height: 33px;
}

.delivery-company::before {
  position: absolute;
  content: "";
  display: block;
  top: 15px;
  left: 0;
  height: 2px;
  width: 25px;
  background-color: @color-linkTechnomart;
}

.company-contacts-left :nth-last-child(2) {
  margin-bottom: 35px;
}

.company-contacts a {
  text-align: center;
  border-radius: 3px;
  font: 14px cuprum;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: @color-textWhite;
  background-color: @color-linkTechnomart;
}
  
.company-contacts a:hover {
  background-color: @color-linkTechnomartHover;
}

.company-contacts a:active {
  background-color: @color-linkTechnomartActive;
}

.company-contacts-right {
  .variable-style-flex-column-space-between;
  font: 13px PT Sans;
}

#pop-up-map {
  .visually-hidden;
}

.pop-up-map-section {
  position: fixed;
  left: 13%;
  top: 34%;
  z-index: 2;
  margin: auto;
  width: 74%;
  height: 58%;
  display:flex;
  justify-content: center; 
  align-items: center;
}

.wrapper-pop-up-map-big {
  position: relative;
  max-width: 100%;
  box-shadow: 0px -2px 19px -3px #060505b5;
}

.big-map-img {
  max-width: 100%;
}

.button-pop-up-map {
 /* margin-top: 38px;*/
  margin-bottom: 37px;
}

.button-write-us {
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
  font: 14px cuprum;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 60px;
  color: @color-textWhite;
  background-color: @color-linkTechnomart;  
}

.button-write-us:hover {
  background-color: @color-linkTechnomartHover;
}

.button-write-us:active {
  background-color: @color-linkTechnomartActive;
}

#form-write-us {
  .visually-hidden;
}

.pop-up-write-us-form {
  /*.visually-hidden;*/
  position: fixed;
  left: 25%;
  top: 34%;
  z-index: 2;
}

.wrapper-write-us-form {
  /*.visually-hidden;*/
  background-color: @color-mainBackgroundWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 7px 18px 5px #060505b5;
  font: 18px Cuprum;
}

.wrapper-write-us-form::before {
  background-color: @color-linkTechnomart;
  position: absolute;
  content: "";
  display: block;
  top: -7px;
  height: 7px;
  width: 100%;
}

.wrapper-pop-up-write-us-up {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 47px;
}

.button-close {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 22px;
  height: 22px;
  opacity: 0.7;
}

.button-close:hover {
  opacity: 1;
}

.button-close:before,
.button-close:after {
  position: absolute;
  left: 0px;
  content: '';
  height: 22px;
  width: 3px;
}

.button-close:before {
  transform: rotate(45deg);
  background-color: @color-linkTechnomart;
}

.button-close:after {
  transform: rotate(-45deg);
  background-color: @color-linkTechnomart;
}

.pop-up-write-us-up-left,
.pop-up-write-us-up-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
}

.input-pop-up-write-us-name,
.input-pop-up-write-us-email {
  width: 100%;
}

.wrapper-pop-up-write-us-middle {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 22px;
  padding-bottom: 37px;
}

.input-pop-up-write-us-text {
  height: 110px;
  width: 100%;
}

.wrapper-pop-up-write-us-down {
  background-color: @color-backgroundBeige;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 80px;
  padding-right: 80px;
}

.button-pop-up-write-us-send {
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
  font: 14px cuprum;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 199px;
  padding-right: 199px;
  color: @color-textWhite;
  background-color: @color-linkTechnomart; 
}

.button-pop-up-write-us-send:hover {
  background-color: @color-linkTechnomartHover;
}

.button-pop-up-write-us-send:active {
  background-color: @color-linkTechnomartActive;
}

footer {
  background-color: @color-lightBlueGray;
  color: @color-textWhite;
  margin-top: 87px;
}

.footer-up {
  max-width: 940px;
  margin: auto;
  padding-bottom: 50px;
}

.footer-up-nav-up {
  .variable-style-flex-row-space-between;
  padding-top: 17px;
}

.technomart-link-footer {
  position: relative;
  font: 30px cuprum;
  padding-top: 17px;
  margin-top: -17px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 42px;
  background-color: @color-linkTechnomart;
}

.technomart-link-footer:hover {
  background-color: @color-linkTechnomartHover;
}

.technomart-link-footer:active {
  background-color: @color-linkTechnomartActive;
}

.technomart-link-footer::after {
  background-color:  @color-linkTechnomartAfter;
  position: absolute;
  content: "";
  display: block;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 5px;
}

.technomart-link-footer:hover::after {
  background-color:  @color-linkTechnomartAfterHover;
}

.technomart-link-footer:active::after {
  background-color:  @color-linkTechnomartAfterActive;
}

.footer-up-nav-up ul {
  padding-top: 19px;
  font: 18px Cuprum;
  width: 65%;
}

.footer-up li {
  justify-content: flex-end;
  flex-grow: 1;
  padding-left: 5px;
}

.footer-up-nav-link {
  
}

.footer-up-nav-down {
  .variable-style-flex-row-space-between;
  padding-top: 31px;
}

.footer-up-adress {
  font: 18px Cuprum;
  line-height: 24px;
  padding-left: 3px;
  white-space: nowrap;
}

.footer-up-nav-down ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  padding-left: 33px;
  padding-bottom: 22px;
  font: 18px Cuprum;
  color: @color-textYello;
}

.footer-up-nav-up ul a:hover,
.footer-up-nav-down ul a:hover {
  text-decoration: underline;
}

.footer-up-nav-up ul a:active,
.footer-up-nav-down ul a:active {
  opacity: 70%;
  text-decoration: none;
}

.wrapper-footer-down {
  background-color: @color-darkBlueGray;
  padding-top: 38px;
}

.footer-down {
  .variable-style-flex-row-space-between;
  .variable-width-basic;
  padding-bottom: 15px;
  font: 16px Cuprum;
}

.footer-down nav {
  .variable-style-flex-row-space-between;
  width: 58%;
}

.footer-down-text {
  font: 16px Cuprum;
  white-space: nowrap;
  margin-top: -15px;
}

.social-network {
  background-color: @color-deepDarkBlueGray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-network:hover {
  background-color: @color-linkTechnomart;
}

.footer-mail-us a,
.footer-our-link a {
  color: @color-textYello;
}

.footer-mail-us a:hover,
.footer-our-link a:hover {
  text-decoration: underline;
}

.footer-mail-us a:active,
.footer-our-link a:active {
  color: @color-linkTechnomart;
  text-decoration: none;
}


.test {
  width: 830px;
  height: 322px;
  // background-color: #ffbf47;
  color: white
}

.test img:hover {
  filter: hue-rotate(66deg) brightness(0.3);
}
